body {
  background: white;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: #ffcb6d;
}

h1 {
  text-align: center;
  padding: 50px 10px 5px 10px;
  font-size: xx-large;
  color: #383233;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

h2 {
  font-size: small;
  color: #518984;
  margin: 5px;
  padding: 15px 10px 15px 10px;
  text-align: left;
}

h3 {
  text-align: right;
  font-size: small;
  color: #d9534d;
}

h4 {
  font-size: x-large;
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: #383233;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

h6 {
  text-align: center;
  font-size: small;
  font-weight: normal;
  padding: 15px 10px 15px 10px;
  color: #383233;
}

p {
  font-size: small;
  margin: 5px;
  padding: 10px 10px 0px 10px;
  text-align: left;
  color: #48484a;
}

#box {
  margin: 15px auto;
  border-radius: 10px;
  max-width: 500px;
  font-family: "DM Sans", sans-serif;
  background: #d2f2ef;
}

#box .active {
  cursor: default;
  color: #383233;
}

#box .active:hover {
  text-decoration: none;
}

#animation {
  display: block;
  margin: 0 auto;
}

#iconElement {
  max-width: 40px;
}

#forecastElement {
  text-align: center;
}

#forecastIcon {
  max-width: 40px;
}
