body {
  background: white;
}

a {
  text-decoration: none;
  color: #d3e1eb;
}

a:hover {
  color: #ffcb6d;
}

h1 {
  text-align: center;
  padding: 0px 10px 10px 10px;
  font-size: xx-large;
  color: #383233;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

h2 {
  font-size: small;
  color: #48484a;
  margin: 5px;
  padding: 15px 10px 15px 10px;
  text-align: left;
}

h4 {
  font-size: x-large;
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: #383233;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

h6 {
  text-align: center;
  font-size: small;
  padding: 10px 10px 25px 10px;
  color: #383233;
}

p {
  font-size: small;
  margin: 5px;
  padding: 10px 10px 0px 10px;
  text-align: left;
  color: #48484a;
}

.list-group-item {
  background: linear-gradient(to bottom, #ffcb6d, #ffdb8e);
  border: 1px solid #ffcb6d;
  margin-bottom: 10px;
}

.forecast-icon {
  max-width: 40px;
}

#box {
  margin: 15px auto;
  border-radius: 10px;
  max-width: 500px;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(to bottom, #a4dfdb, #80bfb8);
}

#box .active {
  cursor: default;
  color: #383233;
}

#box .active:hover {
  text-decoration: none;
}

#animation {
  display: block;
  margin: 0 auto;
  padding-top: 22px;
}

#forecastElement {
  text-align: center;
}

#iconElement {
  max-width: 40%;
  margin-bottom: 5px;
}

#searchBar {
  padding: 0px 0px 0px 25px;
}
